.layout{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-watch{
  padding: 8px 20px;
  border-radius: 5px;
  color: var(--mainColor);
  font-weight: bold;
  margin-bottom: 50px;
  background-color: var(--bgGray);
  width: fit-content;
}

.search-and-limit{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

table{
  min-height: 250px;
  margin-bottom: 20px !important;
}

.page-link {
  color: var(--mainColor) ;
}

.page-link:hover {
  color: var(--bgGray) ;
}

.active>.page-link {
  background-color: var(--bgGray) ;
  border-color: var(--bgGray) ;
  color: #fff;
}

select{
  background: var(--bgGray) !important;
  color: var(--mainColor) !important;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
select:focus{
  border: none;
  outline: none;
}

.search-input{
  background: var(--bgGray) !important;
  color: var(--mainColor) !important;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  outline: none;
}
.search-input::placeholder{
  color: var(--mainColor);
}
.search-input:focus {
  border: none;
  outline: none;
}

th{
  background: var(--bgGray) !important;
  color: var(--mainColor) !important;
}

.update{
  color: green !important;
}